@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BentonSans-medium';
  src: url('./fonts/BentonSans-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans-Regular';
  src: url('./fonts/BentonSans-Regular.ttf') format('truetype');
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'BentonSans-medium',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: 'BentonSans-medium';
  -moz-osx-font-smoothing: 'BentonSans-medium';
}

code {
  font-family: 'BentonSans-medium';
}
